<!-- news letter  -->
<div class="footer-newsletter">
  <div class="container-fluid">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">
        <h2 class="py-0 my-0" style="color: #fff">Join Our Newsletter</h2>
        <p
          class="text-center py-2 mb-0"
          style="color: #b6b3b3; font-size: 14px"
        >
          Subscribe to our newsletter and receive the latest news about our
          products and services!
        </p>
        <form action="" method="post" class="">
          <div class="newsletter-form">
            <input type="email" name="email" placeholder="Enter your email" />
            <input type="submit" value="Subscribe" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end news letter  -->
