{% extends "base.html" %}
{% load static %}

{% block title %}
About Us - {{ SITE_NAME }}
{% endblock title %}

{% block content %}
<section class="py-5 about-us text-white d-flex align-items-center justify-content-center position-relative">
  <!-- Overlay -->
  <div class="play-overlay"></div>

  <!-- Text Content -->
  <div class="content text-center" style="position: relative; z-index: 2" data-sal="fade" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-in-out">
    <h2 data-sal="slide-up" data-sal-duration="600" data-sal-delay="300">
      About Us
    </h2>
    <p data-sal="slide-up" data-sal-duration="600" data-sal-delay="500">
      Welcome to our website! Learn more about who we are and what we do.
    </p>
  </div>
</section>

<section class="py-5">
  <div class="row">
    <div class="container-fluid">
      <div class="row align-items-center px-4">
        <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 pt-2 mt-sm-0 opt-sm-0">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-6">
              <div class="row">
                <div class="col-lg-12 col-md-12 mt-4 pt-2">
                  <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                    <img
                      src="https://www.bootdey.com/image/241x362/FFB6C1/000000"
                      class="img-fluid"
                      alt="Image"
                    />
                    <div class="img-overlay bg-dark"></div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end col-->

            <div class="col-lg-6 col-md-6 col-6">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                    <img
                      src="https://www.bootdey.com/image/337x450/87CEFA/000000"
                      class="img-fluid"
                      alt="Image"
                    />
                    <div class="img-overlay bg-dark"></div>
                  </div>
                </div>
                <!--end col-->

                <div class="col-lg-12 col-md-12 mt-4 pt-2">
                  <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                    <img
                      src="https://www.bootdey.com/image/600x401/FF7F50/000000"
                      class="img-fluid"
                      alt="Image"
                    />
                    <div class="img-overlay bg-dark"></div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end col-->

        <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
          <div class="ml-lg-5">
            <h2 class="text-custom font-weight-normal mb-3 footer-heading">
              About Us
            </h2>
            <h2 class="mb-4">
              Our mission is to <br />
              make your life easier.
            </h2>
            <p class="mb-0" style="color: #2b2b2b">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit quod
              debitis praesentium pariatur temporibus ipsa, cum quidem obcaecati
              sunt?
            </p>

            <div class="row">
              <div class="col-lg-12 mt-4 pt-2">
                <div class="media align-items-center rounded shadow p-3">
                  <h4 class="ml-3 mb-0">
                    <i class="fa fa-play h4 mb-0 text-custom"></i> Visoin
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Possimus asperiores consequuntur, veritatis voluptate rerum
                    laboriosam. Dolor molestias aut maiores error vero, enim
                    consectetur ut. Facere quidem illo exercitationem vero ipsa.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--enr row-->
    </div>
  </div>
</section>

<!-- Our Achievements -->
<div class="counsellor-section overflow-hidden" data-sal="fade" data-sal-duration="600" data-sal-delay="100" data-sal-easing="ease" style="background-color: #f4f6f7c3">
  <div class="container-fluid">
    <h2 class="text-center mb-0 mt-2">
      Our <span style="color: var(--color-primary)">Achievements</span>
    </h2>
    <p class="text-center mb-4 mt-2 px-4" style="font-size: 14px">
      We’re looking for committed, skilled professionals to join KIC’s mission
      of guiding students abroad. Be part of a team that changes lives.
    </p>
    <div class="counsellor-slider slick-d">
      <div class="col-sm-3 col-12 d-flex flex-column justify-content-start align-items-center">
        <div class="card mx-2">
          <img
            class="card-img-top object-fit"
            src="https://images.unsplash.com/photo-1570610159825-ec5d3823660c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2VydGlmaWNhdGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
            alt="Card image cap"
            style="height: 170px"
          />
          <div class="card-body">
            <p class="card-text text-center text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              illum?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Achievements -->

{% include "kic/partial/newsletter.html" %}
{% endblock content %}
