{% extends "base.html" %}
{% load static %}

{% block title %}
Contact Us - {{ SITE_NAME }}
{% endblock title %}

{% block content %}
<!-- hero section start -->
<section class="py-5 contact-us text-white d-flex align-items-center justify-content-center position-relative">
  <!-- Overlay -->
  <div class="play-overlay"></div>

  <!-- Text Content -->
  <div class="content text-center" style="position: relative; z-index: 2" data-sal="fade" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-in-out">
    <h2 data-sal="slide-up" data-sal-duration="600" data-sal-delay="300">
      Contact Us
    </h2>
    <p data-sal="slide-up" data-sal-duration="600" data-sal-delay="500">
      Get in touch with our education consultants for personalized guidance on
      your study abroad journey.
    </p>
  </div>
</section>
<!-- hero section end -->

<section class="section gray-bg" id="contactus">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2 data-sal="slide-left" data-sal-duration="600" data-sal-delay="500">
            Check Your Eligibility for International Study
          </h2>
          <p data-sal="slide-right" data-sal-duration="600" data-sal-delay="500">
            Studying abroad opens the door to world-class education, cultural
            exchange, and personal growth. It’s a chance to gain global
            experience and broaden your academic and professional horizons.
          </p>
        </div>
      </div>
    </div>
    <div class="row flex-row-reverse">
      <div class="col-md-7 col-lg-8 m-15px-tb">
        <div class="contact-form">
          <form action="{% url 'kic:contact' %}" method="post" class="contactform contact_form" id="contact_form">
            {% csrf_token %}
            <div
              class="returnmessage valid-feedback p-15px-b"
              data-success="Your message has been received, We will contact you soon."
            ></div>
            <div class="empty_notice invalid-feedback p-15px-b">
              <span>Please Fill Required Fields</span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{ form.full_name }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ form.email }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ form.phone_number }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ form.subject }}
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-control">
                  <select id="country" class="form-control" required>
                    <option value="" disabled selected>Choose, Which Country do you want to apply?</option>
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="japan">Japan</option>
                    <option value="south_korea">South Korea</option>
                    <option value="uk">United Kingdom</option>
                    <option value="usa">United States</option>
                    <option value="germany">Germany</option>
                    <option value="new_zealand">New Zealand</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              </div> -->

              <div class="col-md-12">
                <div class="form-group">
                  {{ form.message }}
                </div>
              </div>

              <div class="col-md-12">
                <div class="send">
                  <button type="submit" class="btn btn-primary">Contact Us</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 m-15px-tb">
        <div class="contact-name">
          <h5>Mail</h5>
          <p>{{ KIC_EMAIL_ADDRESS }}</p>
        </div>
        <div class="contact-name">
          <h5>Visit My Studio</h5>
          <p>{{ KIC_ADDRESS }}</p>
        </div>
        <div class="contact-name">
          <h5>Phone</h5>
          <p>9705430592, 9705430593, 9705430594</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- map  -->
<section class="mb-0">
  <iframe
    class="mb-0 pb-0"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13915.223970670611!2d87.27474620284525!3d26.46145973070093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ef75002e05faad%3A0x41e99cae44659554!2sSansarimaisthan!5e1!3m2!1sen!2snp!4v1760680828265!5m2!1sen!2snp"
    width="100%"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>

{% include "kic/partial/newsletter.html" %}
{% endblock content %}
