{% extends "base.html" %}

{% block title %}
{{ country.name }} - {{ SITE_NAME }}
{% endblock title %}

{% block content %}
<section class="py-5 university-details text-white d-flex align-items-center justify-content-center position-relative">
  <!-- Overlay -->
  <div class="play-overlay"></div>

  <!-- Text Content -->
  <div class="content text-center" style="position: relative; z-index: 2" data-sal="fade" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-in-out">
    <h2 data-sal="slide-up" data-sal-duration="600" data-sal-delay="300">
      Study in
    </h2>
    <p data-sal="slide-up" data-sal-duration="600" data-sal-delay="500">
      {{ country.name }} From Nepal
    </p>
  </div>
</section>

<!-- why study section  -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8" data-sal="slide-right" data-sal-duration="800" data-sal-delay="200">
        <h2>
          Why Study in
          <span style="color: var(--color-primary)">{{ country.name }} From Nepal?</span>
        </h2>
        <ul class="university-details-list px-3">
          {% for study in why_study %}
          <li>{{ study.point }}</li>
          {% empty %}
          <p>No why study points available.</p>
          {% endfor %}
        </ul>
      </div>
      {% if country.image_1 %}
      <div class="col-md-4" data-sal="slide-left" data-sal-duration="800" data-sal-delay="200">
        <img
          class="img-fluid rounded-3 overflow-hidden"
          style="height: auto"
          src="{{ country.image_1.url }}"
          alt="why study in {{ country.name }} image"
        />
      </div>
      {% endif %}
      <div class="col-md-12 text-center pt-3">
        <div class="">
          <a href="{% url 'kic:contact' %}" class="btn btn-outline-primary">
            Want to Study in {{ country.name }}? Sign Up for a Free consultation session
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- why study section end  -->

<!-- fact section  -->
<section class="py-5" style="background-color: #f4f6f7c3" data-sal="fade" data-sal-duration="600" data-sal-delay="100" data-sal-easing="ease">
  <div class="container-fluid">
    <div class="row">
      <h2>
        Facts about
        <span style="color: var(--color-primary)">{{ country.name }}</span>
      </h2>
      {% comment %} loop start here {% endcomment %}
      <div class="col-md-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-in-out">
        <ul class="university-details-list px-3">
          {% for fact in facts %}
          <li>{{ fact.fact }}</li>
          {% empty %}
          <p>No facts about country available.</p>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- fact section end -->

<!-- reason section  -->
<section class="py-5" data-sal="fade" data-sal-duration="600" data-sal-delay="100" data-sal-easing="ease">
  <div class="container-fluid">
    <div class="row">
      {% if country.image_2 %}
      <div class="col-md-4 py-2" data-sal="slide-right" data-sal-duration="800" data-sal-delay="200">
        <img
          class="img-fluid rounded-3 overflow-hidden"
          style="height: auto"
          src="{{ country.image_2.url }}"
          alt="Reason to study in {{ country.name }} image"
        />
      </div>
      {% endif %}

      <div class="col-md-8" data-sal="slide-left" data-sal-duration="800" data-sal-delay="200">
        <h2>
          Reasons to
          <span style="color: var(--color-primary)">Study in {{ country.name }}</span>
        </h2>
      <p>{{ country.study_reason_overview }}</p>
        <div class="row">
          {% for reason in reasons %}
          <div class="col-md-6 px-4">
            <h4 class="mb-1">{{ forloop.counter }}. {{ reason.reason_title }}</h4>
            <p style="text-align: justify; font-size: 14px">{{ reason.reason_description }}</p>
          </div>
          {% empty %}
          <p>No reasons to study available.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Requirement cost  -->
<section class="py-5" style="background-color: #f4f6f7c3" data-sal="fade" data-sal-duration="600" data-sal-delay="100" data-sal-easing="ease">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" data-sal="slide-left" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-in-out">
        <h2>
          Requirements
          <span style="color: var(--color-primary)">to Study in {{ country.name }}</span>
        </h2>

        <div class="table-wrap">
          <table class="styled-table">
            <thead>
              <tr>
                <th>Level</th>
                <th>Academic (typical)</th>
                <th>IELTS / PTE (typical)</th>
              </tr>
            </thead>
            <tbody>
              {% for requirement in requirements %}
              <tr>
                <td>{{ requirement.get_level_display }}</td>
                <td>{{ requirement.academic }}</td>
                <td>{{ requirement.language }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3" class="text-center">No requirements available.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <p class="pt-2" style="font-size: 14px">
          * Requirements may differ depending on the university and course.
          Please refer to the official university website for details. You can
          also visit our IELTS and PTE pages for tips on English test
          preparation.
        </p>
      </div>

      <div class="col-md-12 py-3" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-in-out">
        <h2>
          Costs &
          <span style="color: var(--color-primary)">Budget (Typical)</span>
        </h2>

        <div class="table-wrap">
          <table class="styled-table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Estimated Amount</th>
              </tr>
            </thead>
            <tbody>
              {% for budget in budgets %}
              <tr>
                <td>{{ budget.get_item_display }}</td>
                <td>{{ budget.estimated_amount }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="2" class="text-center">No costs & budget available.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- process  -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row text-center justify-content-center mb-2">
      <div class="col-xl-7 col-lg-10">
        <h2 class="mb-1">
          Study in {{ country.name }}:
          <span style="color: var(--color-primary)">Step by step process</span>
        </h2>
        <p class="text-muted text-center">
          We’re very proud of the path we’ve taken. Explore the history that
          made us the company we are today and let us guide you through each
          step of your study abroad journey.
        </p>
      </div>
    </div>

    <div class="row process-step">
      {% for step_process in step_processes %}
      <div class="col-md-3 text-center process-item" data-sal="fade" data-sal-duration="600" data-sal-delay="100">
        <div class="circle">
          <p>{{ forloop.counter }}</p>
        </div>
        <h3>{{ step_process.title }}</h3>
        <p>{{ step_process.description }}</p>
      </div>
      {% empty %}
      <p class="text-center">No step by step process available.</p>
      {% endfor %}

      <div class="col-md-12 text-center pt-3">
        <div class="">
          <a href="contact.html" class="btn btn-outline-primary">
            Want to Study in {{ country.name }}? Sign Up for a Free consultation session
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- faq's  -->
<section class="pt-2 pb-5" data-sal="fade" data-sal-duration="600" data-sal-delay="100" data-sal-easing="ease">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card card-style1 border-0 shadow-lg">
          <div class="card-body p-2 p-md-5 p-xl-5">
            <div class="text-center">
              <h2 class="">
                Frequently
                <span style="color: var(--color-primary)">Asked Questions</span>
              </h2>
            </div>
            <div id="accordion" class="accordion-style">
              {% for faq in faqs %}
              <div class="card mb-3 faq-item" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100">
                <div class="card-header" id="heading-{{ faq.id }}">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse-{{ faq.id }}" aria-expanded="true" aria-controls="collapse-{{ faq.id }}">
                      <span class="text-theme-secondary me-2">Q.</span>{{ faq.question }}
                    </button>
                  </h5>
                </div>
                <div id="collapse-{{ faq.id }}" class="collapse" aria-labelledby="heading-{{ faq.id }}" data-bs-parent="#accordion">
                  <div class="card-body">
                    {{ faq.answer }}
                  </div>
                </div>
              </div>
              {% empty %}
              <p class="text-center">No frequently asked questions available.</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
