{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}KIC Education{% endblock title %}

{% block content %}
<!--hero section for image banner starts here-->

<!-- <section class="hero video-hero">
      <video
        autoplay=""
        muted=""
        loop=""
        playsinline=""
        preload="auto"
        class="svg-background banner-video"
        poster=""
        style="
          background-image: url('images/zwmZqJXVW0Gwr0yUS9Zg.jpg');
          background-size: cover;
        "
      >
        <source src="{% static 'media/video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <div class="container-fluid">
        <div class="banner" style="text-align: center">
          <div
            class="banner-content"
            style="align-items: center; text-align: center"
          >
            <h1>Find the world’s best universities and scholarships</h1>
            <div
              class="d-flex flex-column flex-nowrap align-items-center justify-content-center gap-4"
            >
              <p>Effortlessly with us!</p>
              <div>
                <a href="" target="_blank" class="btn-hero">
                  <span>Apply Now</span>
                  <svg
                    class="external-arrow"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

<section class="banner-hero" data-sal="fade" data-sal-duration="600" data-sal-delay="100" data-sal-easing="ease">
  <img src="{% static 'images/banner.jpg' %}" alt="banner" class="img-fluid" />
</section>
<!--hero section for video banner ends here-->

<!--upcoming event section starts here-->
<!-- <div
      class="container-fluid"
      data-sal="fade"
      data-sal-duration="500"
      data-sal-delay="100"
      data-sal-easing="ease-in-out"
    >
      <div class="upcoming-events d-block">
        <div class="row align-items-center g-3">
          <div class="col-sm-2">
            <h3 class="text-center fw-bold">
              <p class="p-0 m-0 text-center">Recent</p>
              EVENTS
            </h3>
          </div>
          <div class="col-sm-4 d-flex flex-row column-gap-3">
            <div class="date-box">
              <span class="day">07</span>
              <span class="month">Nov</span>
            </div>
            <div class="event-content">
              <h4 class="limit-words-7">University of Greenwich ,UK</h4>
              <a href="" class="event-btn">
                <span class="text-decoration-underline">View Details</span>
              </a>
            </div>
          </div>
          <div class="col-sm-4 d-flex flex-row column-gap-3">
            <div class="date-box">
              <span class="day">07</span>
              <span class="month">Nov</span>
            </div>
            <div class="event-content">
              <h4 class="limit-words-7">University of Greenwich ,UK</h4>
              <a href="" class="event-btn">
                <span class="text-decoration-underline">View Details</span>
              </a>
            </div>
          </div>

          <div class="col-sm-2">
            <a href="" class="view-btn m-0 p-0">
              <span class="text-decoration-underline">More Events</span>
              <svg
                class="external-arrow"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div> -->

<!-- upcoming event section ends here -->
<div class="aboutus mt-2 py-3" data-sal="fade" data-sal-duration="600" data-sal-delay="100" data-sal-easing="ease">
  <div class="container-fluid">
    <div class="row g-5">
      <div
        class="col-sm-5 recent-event px-5 py-4"
        style="background-color: #e0eafc; border-radius: 10px 10px 0 0"
        data-sal="slide-right"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        <h2 class="mb-0 fw-bold pt-3 footer-heading">
          Recent <span style="color: var(--color-primary)">Events</span>
        </h2>
        <a href="#">
          <div class="d-flex gap-4 recent my-3 align-items-center">
            <div class="">
              <h1 class="m-0 p-0 text-success">12</h1>
              <h4 class="m-0 pb-1 pt-0">MAY</h4>
              <p style="height: 2px; background-color: green"></p>
            </div>
            <div class="">
              <h3>Udaan New Zealand Application Day</h3>
              <p>
                <i class="bi bi-clock" style="color: green"></i>
                <span style="color: green"> 10:00 AM - 6:00 PM</span>
              </p>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="d-flex gap-4 recent my-3 align-items-center">
            <div class="">
              <h1 class="m-0 p-0 text-success">20</h1>
              <h4 class="m-0 pb-1 pt-0">AUG</h4>
              <p style="height: 2px; background-color: green"></p>
            </div>
            <div class="">
              <h3>International Education Fair – Dwarka</h3>
              <p>
                <i class="bi bi-clock" style="color: green"></i>
                <span style="color: green"> 10:00 AM - 6:00 PM</span>
              </p>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="d-flex gap-4 recent my-3 align-items-center">
            <div class="">
              <h1 class="m-0 p-0 text-success">10</h1>
              <h4 class="m-0 pb-1 pt-0">SEP</h4>
              <p style="height: 2px; background-color: green"></p>
            </div>
            <div class="">
              <h3>Grace Edufair 2023</h3>
              <p>
                <i class="bi bi-clock" style="color: green"></i>
                <span style="color: green"> 10:00 AM - 6:00 PM</span>
              </p>
            </div>
          </div>
        </a>
      </div>
      <div
        class="col-sm-7 about-content py-4"
        data-sal="slide-left"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        <h2 class="mb-0 fw-bold pt-3 footer-heading">
          About
          <span style="color: var(--color-primary)">KIC Education</span>
        </h2>
        <p class="mt-3" style="text-align: justify">
          At KIC Education, we are passionate about transforming students’
          dreams of studying abroad into reality. With years of experience and a
          strong network of global institutions, we provide expert guidance
          every step of the way — from selecting the right course and university
          to completing applications and securing admissions. Our team of
          professional counselors takes a personalized approach to understand
          each student’s goals, ensuring a smooth and stress-free process.
        </p>
        <p class="mt-3" style="text-align: justify">
          Beyond admissions, we also offer support with visa applications, test
          preparation, accommodation, and pre-departure briefings, making the
          entire journey seamless and fulfilling. Our unwavering commitment to
          quality service and student success has earned us the reputation of
          being a trusted name in international education. Join KIC Education
          today and take your first confident step toward a world of global
          opportunities and a brighter future.
        </p>
        <a href="aboutus.html" class="btn-custom mt-3">
          <span>Read More</span>
          <svg
            class="external-arrow"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <!-- study destination section start -->
  <div class="study-destination overflow-hidden p-40" style="background-color: #f4f6f7c3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-in-out">
    <div class="container-fluid">
      <h2 class="text-center mb-0">
        Top
        <span style="color: var(--color-primary)">Study</span> Destinations
      </h2>
      <p class="text-center mb-4 mt-2 px-4" style="font-size: 14px">
        Discover world-class education opportunities across leading countries
        with top-ranked universities and diverse academic programs.
      </p>
      <div class="country-slider row slick-e d-flex flex-row">
        {% for country in countries %}
        <div class="col-md-2 col-sm-4 col-6 py-3">
          <a href="{{ country.get_absolute_url }}">
            <div class="country-box">
              <div class="country-image">
                <img src="{{ country.flag.url }}" alt="{{ country.name }}" />
              </div>
              <h4 class="country-name">{{ country.name }}</h4>
            </div>
          </a>
        </div>
        {% empty %}
        <p class="text-center">No top study destinations available.</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- study destination section end -->

  <!-- counsellor profile section -->
  <div class="counsellor-section overflow-hidden" data-sal="fade" data-sal-duration="600" data-sal-delay="100" data-sal-easing="ease">
    <div class="container-fluid">
      <h2 class="text-center mb-0 mt-2">
        Book
        <span style="color: var(--color-primary)">Free Expert</span>
        Counseling
      </h2>
      <p class="text-center mb-4 mt-2 px-4" style="font-size: 14px">
        Get personalized guidance from our experienced education consultants.
      </p>
      <div class="counsellor-slider slick-d">
        {% for counsellor in counsellors %}
        <div class="col-sm-3 col-12 d-flex flex-column justify-content-start align-items-center">
          <div class="card mx-2">
            <img
              class="card-img-top object-fit"
              src="{{ counsellor.profile_picture.url }}"
              alt="{{ counsellor.get_full_name }}'s profile"
              style="height: 170px"
            />
            <div class="card-body align-content-center">
              <h5 class="card-title text-center mb-0">{{ counsellor.get_full_name }}</h5>
              <p class="text-center p-0 m-0 fst-italic mb-1">{{ counsellor.position }}</p>
              <div class="text-center mb-2">
                <a href="#" class="apply_now">
                  <span>View More Details</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p class="text-center">No counsellors available.</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- counsellor profile section end -->

  <!-- services section start -->
  <div class="services py-3" data-sal="fade" style="background-color: #f4f6f7c3" data-sal-duration="600" data-sal-delay="100" data-sal-easing="ease">
    <div class="container-fluid">
      <h2 class="text-center mb-0">
        Amazing
        <span style="color: var(--color-primary)">Services & Features </span>
        For You
      </h2>
      <p class="text-center mb-2 mt-2 px-4" style="font-size: 14px">
        Comprehensive education services to support your study abroad journey
        from start to finish.
      </p>
      <div class="row g-4 my-3">
        {% for service in services %}
        <div class="col-lg-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-in-out">
          <div class="service-item h-100 d-flex flex-column">
            <!-- service icon here -->
            <h4 class="py-2 mb-0 mt-2">{{ service.name }}</h4>
            <p class="flex-grow-1">{{ service.overview|truncatewords:10 }}</p>
            <div class="text-button mt-1">
              <a href="{{ service.get_absolute_url }}"
                >Read More <i class="fa fa-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        {% empty %}
        <p class="text-center">No services available.</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- services section end -->

  <!--offer section start -->
  <div id="pricing" class="pricing-tables offers" data-sal="fade" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-in-out">
    <div class="container-fluid py-2">
      <div class="row pb-5 g-4">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="text-center mt-4 mb-0">
            Seasonal
            <span style="color: var(--color-primary)">Deals</span>
            – Grab Now!
          </h2>
          <p class="text-center mb-4 mt-2 px-4" style="font-size: 14px">
            Limited-time offers on education services and university
            applications. Don't miss out!
          </p>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">40%</span>
            <h4>Big saving !</h4>
            <div class="icon">
              <img src="{% static 'images/USA.png' %}" alt="" />
            </div>
            <ul>
              <li>Lorem Ipsum Dolores</li>
              <li class="non-function">Life-time Support</li>
              <li class="non-function">Premium Add-Ons</li>
            </ul>
            <div class="border-button">
              <a href="#" class="apply_now" target="_blank">
                <span> APPLY NOW! </span>
                <svg
                  class="external-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M17.6 18L8 8.4V17H6V5h12v2H9.4l9.6 9.6z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- offer section end -->

  <!-- trusted section start  -->
  <div class="study-destination overflow-hidden p-40" style="background-color: #f4f6f7c3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-in-out">
    <div class="container-fluid">
      <h2 class="text-center mb-0">
        Trusted by
        <span style="color: var(--color-primary)">Global Institutions</span> &
        Partners
      </h2>
      <p class="text-center mb-4 mt-2 px-4" style="font-size: 14px">
        Partnered with leading universities and educational institutions
        worldwide to provide you with the best opportunities.
      </p>
      <div class="country-slider row slick-e d-flex flex-row">
        {% for institution in institutions %}
        <div class="col-6 col-sm-3 col-md-2 p-sm-3 p-2">
          <div class="partner-test-class-list">
            <a href="{{ institution.get_absolute_url }}">
              <img src="{{ institution.logo.url }}" alt="{{ institution.name }} logo" />
            </a>
          </div>
        </div>
        {% empty %}
        <p class="text-center">No global institutions & partners available.</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- trusted section end  -->

  <div class="overflow-hidden" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-in-out">
    <div class="container-fluid">
      <div class="row pt-3">
        <!-- events section start -->
        <div
          class="col-sm-4 recent-event px-5 py-4"
          style="background-color: #e0eafc; border-radius: 10px 10px 0 0"
        >
          <h2 class="mb-0 fw-bold pt-3 footer-heading">
            <span style="color: var(--color-primary)">Events</span>
          </h2>
          <a href="#">
            <div class="d-flex gap-4 recent my-3 align-items-center">
              <div class="">
                <h1 class="m-0 p-0 text-success">12</h1>
                <h4 class="m-0 pb-1 pt-0">MAY</h4>
                <p style="height: 2px; background-color: green"></p>
              </div>
              <div class="">
                <h3>Udaan New Zealand Application Day</h3>
                <p>
                  <i class="bi bi-clock" style="color: green"></i>
                  <span style="color: green"> 10:00 AM - 6:00 PM</span>
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- events section end -->
        
        <!-- testimonial section start -->
        <div class="col-sm-8 py-4 px-4">
          <h2 class="mb-0 pt-3">
            <span style="color: var(--color-primary)">Testimonials</span>
          </h2>

          <div class="country-slider slick-a">
            {% for testimonial in testimonials %}
            <div class="col-sm-12 p-sm-3 p-2">
              <div class="">
                <p>
                  <i class="bi bi-quote quote-icon-left" style="color: green; font-size: 20px"></i>
                  &nbsp;{{ testimonial.comment }}&nbsp;
                  <i
                    class="bi bi-quote quote-icon-right"
                    style="
                      color: green;
                      font-size: 20px;
                      transform: rotate(180deg);
                      display: inline-block;
                    "
                  ></i>
                </p>
              </div>
              <div class="d-flex gap-4 align-items-center">
                <div class="box">
                  <img class="image-testimonial" src="{{ testimonial.client_photo.url }}" alt="{{ testimonial.full_name }}'s profile" />
                </div>
                <div class="">
                  <h3 class="m-0">{{ testimonial.full_name }}</h3>
                  <p class="py-0 mb-1">{{ testimonial.college }}</p>
                  <span>
                    {% for i in testimonial.rating|num_range %}
                      <i class="bi bi-star-fill" style="color: #ffa127"></i>
                    {% endfor %}
                  </span>
                </div>
              </div>
            </div>
            {% empty %}
            <p>No testimonials available.</p>
            {% endfor %}
          </div>
        </div>
        <!-- testimonial section end -->
      </div>
    </div>
  </div>

  <!-- youtube play modal starts here -->
  <div class="video-modal">
    <div class="video-box">
      <div class="modal-overlay"></div>
      <div class="modal-content">
        <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>
        <iframe
          id="yt-video"
          width="100%"
          height="100%"
          allow="autoplay; fullscreen"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>
  </div>
  <!-- youtube play modal ends here-->
  {% include "kic/partial/newsletter.html" %}
</div>
{% endblock content %}
