{% extends "base.html" %}

{% block title %}
Services - {{ SITE_NAME }}
{% endblock title %}

{% block content %}
<section class="py-5 about-us text-white d-flex align-items-center justify-content-center position-relative">
  <!-- Overlay -->
  <div class="play-overlay"></div>

  <!-- Text Content -->
  <div class="content text-center" style="position: relative; z-index: 2" data-sal="fade" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-in-out">
    <h2 data-sal="slide-up" data-sal-duration="600" data-sal-delay="300">
      Service We Provide
    </h2>
    <p data-sal="slide-up" data-sal-duration="600" data-sal-delay="500">
      KIC guides you through every step — from university selection to
      pre-departure — making your study abroad journey smooth and stress-free.
    </p>
  </div>
</section>

<!-- services section start -->
<div class="services py-3" data-sal="fade" data-sal-duration="600" data-sal-delay="100" data-sal-easing="ease">
  <div class="container-fluid">
    <div class="row g-4 my-3">
      {% for service in services %}
      <div class="col-lg-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-in-out">
        <div class="service-item h-100 d-flex flex-column">
          <!-- service icon here -->
          <h4 class="py-2 mb-0 mt-2">{{ service.name }}</h4>
          <p class="flex-grow-1">{{ service.overview|truncatewords:10 }}</p>
          <div class="text-button mt-1">
            <a href="{{ service.get_absolute_url }}">Read More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      {% empty %}
      <p class="text-center">No services available.</p>
      {% endfor %}
    </div>
  </div>
</div>
<!-- services section end -->
{% include "kic/partial/newsletter.html" %}
{% endblock content %}
