{% extends "base.html" %}
{% load static %}

{% block title %}Training Programs{% endblock title %}

{% block content %}
<section
  class="py-5 university-details text-white d-flex align-items-center justify-content-center position-relative"
>
  <!-- Overlay -->
  <div class="play-overlay"></div>

  <!-- Text Content -->
  <div
    class="content text-center"
    style="position: relative; z-index: 2"
    data-sal="fade"
    data-sal-duration="800"
    data-sal-delay="200"
    data-sal-easing="ease-in-out"
  >
    <h2 data-sal="slide-up" data-sal-duration="600" data-sal-delay="300">
      Training Programs
    </h2>
    <p data-sal="slide-up" data-sal-duration="600" data-sal-delay="500">
      KIC offers a variety of training programs designed to equip students with
      the skills and knowledge needed to excel in their academic and
      professional pursuits abroad.
    </p>
  </div>
</section>

<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <h3>Working on this page ........</h3>
    </div>
  </div>
</section>
{% include "kic/partial/newsletter.html" %}
{% endblock content %}
