{% extends "base.html" %}
{% load static %}

{% block title %}
{{ university.name }} - {{ SITE_NAME }}
{% endblock title %}

{% block content %}
<section
  class="py-5 university-details text-white d-flex align-items-center justify-content-center position-relative"
>
  <!-- Overlay -->
  <div class="play-overlay"></div>

  <!-- Text Content -->
  <div class="content text-center" style="position: relative; z-index: 2" data-sal="fade" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-in-out">
    <h2 data-sal="slide-up" data-sal-duration="600" data-sal-delay="300">
      {{ university.name }}
    </h2>
  </div>
</section>

<section class="py-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <p>
          {{ university.description|safe }}
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
